/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


.idea
.DS_Store
_ide_helper.php
.phpstorm.meta.php

database/backups
storage/MaxMind-GeoIP

public/uploads
public/node_modules

